/* CSS for HTML page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
  color: #1a1a1a;
  background: #d0d6d6;
}

::selection {
  color: #1a1a1a;
  background: #d0d6d6;
}

p, table, #member-count, .page-number {
    font-size: 16px;
    font-family: "Roboto", 'Courier-new', monospace;
    font-weight: 300;
    font-style: thin;
    color: #d0d6d6;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
    font-size: 0.9rem;
}

td, th {
    text-align: left;
    border-bottom: 1px solid #353535;
    border-collapse: collapse;
}

img {
    margin: 10px auto;
    display: block;
    height: 31px;
}

a:link, a:visited, a:active {
    font-family: "Roboto", 'Courier-new', monospace;
    font-weight: 300;
    font-style: thin;
    color: #d0d6d6;
    text-decoration: none;
    transition: background 0.5s ease, color 0.5s ease;
}

a:hover {
    color: transparent;
    background: linear-gradient(to left, #041421, #042630, #4c7273, #86b9b0, #d0d6d6, #86b9b0, #4c7273, #042630, #041421);
    -webkit-background-clip: text;
    background-clip: text;
    animation: slide 4s linear infinite;
    -webkit-background-size: 200%;
    background-size:200%;
}

h1{ 
    color: #d0d6d6;
    font-size: 40px;
    font-optical-sizing: auto;
    font-family: "JetBrains Mono", 'Courier-new', monospace;
    font-weight: 300;
    font-style: thin;
    margin:0 0 10px 0;
}

h2 {
    color: #d0d6d6;
    font-size: 30px;
    font-optical-sizing: auto;
    font-family: "JetBrains Mono", 'Courier-new', monospace;
    font-weight: 300;
    font-style: thin;
    margin:0 0 10px 0;
}

hr {
    margin: 20px auto;
    width: 90%;
    height: 2px;
    border: none;
    background: linear-gradient(to left, #041421, #042630, #4c7273, #86b9b0, #d0d6d6, #86b9b0, #4c7273, #042630, #041421);
    background-size: 200% auto;
    animation: slide 4s linear infinite;
}

@keyframes slide {
    from {
        background-position: 100% 0;
    }
    to {
        background-position: -100% 0;
    }
}

.footer {
    font-size:10px;
}
main {
    margin: 1rem 0; 
}

p, ul, ol, dl {
    text-align: justify;
}

body {
    background-color: #1a1a1a;
    max-width: 800px;
    padding: 20px;
    line-height: 1.6;
    scrollbar-width: thin;
    scrollbar-color: #d0d6d6 transparent;
    justify-content: center;
    margin: 0 auto;
}

.member-table tbody{
    border: 2px solid rgb(44, 44, 44);
    overflow: scroll;
}

.arrow-bar {
    width: 100%;
    height: 30px;
}

.member-background {
    background-color:#262626;
    border-radius: 10px;
    padding: 0.5px 10px;
}

.arrow {
    height: 30px;
    width: 50px;
    margin: -8px 100px;
    background-color: #1b1b1b;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
    border: 0;
}
.arrow:hover {
    background-color: #2c2c2c;
}

.right {
    float: right;
}

.left {
    float: left;
}

.page-number {
    margin: 0 0px 0px 120px;
    padding: 0;
}